@font-face {
  font-family: "KeaniaOne";
  src: url(../fonts/KeaniaOne-Regular.ttf);
}
body {
  background: url("../img/background.svg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
}
body .decorativ-list {
  width: 1440px;
  height: auto;
}
body .decorativ-list .conteinr {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 10px 0;
  background-color: rgb(67, 64, 64);
}
body .decorativ-list .conteinr header {
  width: 100vw;
  text-align: center;
}
body .decorativ-list .conteinr header p {
  font-size: 32px;
  font-family: "KeaniaOne";
}
@media (min-width: 1420px) {
  body .decorativ-list .conteinr header {
    width: 1420px;
  }
}
body .decorativ-list .conteinr main .shoping-conteiner {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
body .decorativ-list .conteinr main .shoping-conteiner .bag {
  width: 100vw;
  background-color: rgb(231, 123, 21);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1420px) {
  body .decorativ-list .conteinr main .shoping-conteiner .bag {
    width: 1420px;
  }
}
body .decorativ-list .conteinr main .shoping-conteiner .bag .show-bag {
  position: relative;
  background: none;
}
body .decorativ-list .conteinr main .shoping-conteiner .bag .show-bag img {
  width: 80px;
  height: 80px;
}
body .decorativ-list .conteinr main .shoping-conteiner .bag .show-bag .counter {
  font-family: "KeaniaOne";
  position: absolute;
  border-radius: 50px;
  background-color: aqua;
  bottom: 2px;
  right: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .decorativ-list .conteinr main .shoping-conteiner .filtres {
  width: 100vw;
  background-color: rgb(231, 123, 21);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  body .decorativ-list .conteinr main .shoping-conteiner .filtres {
    flex-direction: row;
  }
}
@media (min-width: 1420px) {
  body .decorativ-list .conteinr main .shoping-conteiner .filtres {
    width: 1420px;
  }
}
body .decorativ-list .conteinr main .shoping-conteiner .filtres .grup {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 10px 0;
}
body .decorativ-list .conteinr main .shoping-conteiner .filtres .grup .filter {
  font-family: "KeaniaOne";
  width: 90px;
  height: 35px;
  background-color: brown;
  border-radius: 50px;
  font-size: 20px;
}
@media (min-width: 768px) {
  body .decorativ-list .conteinr main .shoping-conteiner .filtres .grup .filter {
    width: 115px;
    font-size: 22px;
  }
}
body .decorativ-list .conteinr main .shoping-conteiner .shoping-cards {
  width: 100vw;
  background-color: rgb(231, 123, 21);
  border-radius: 10px;
}
@media (min-width: 1420px) {
  body .decorativ-list .conteinr main .shoping-conteiner .shoping-cards {
    width: 1420px;
  }
}
body .decorativ-list .conteinr main .shoping-conteiner .shoping-cards .cards-style {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 4px solid red;
}
body .decorativ-list .conteinr main .shoping-conteiner .shoping-cards .cards-style .card {
  position: relative;
  background-color: aquamarine;
  border-radius: 10px;
  margin: 10px;
}
body .decorativ-list .conteinr main .shoping-conteiner .shoping-cards .cards-style .card .ficha {
  position: absolute;
  top: 10px;
  right: 10px;
}
body .decorativ-list .conteinr main .shoping-conteiner .shoping-cards .cards-style .card .ficha .add-to-bag {
  background: url("../img/Favorite.svg") 0 0/cover no-repeat;
}
body .decorativ-list .conteinr main .shoping-conteiner .shoping-cards .cards-style .card .ficha .add-to-bag.active {
  background: url("../img/Favorite_duotone.svg") 0 0/cover no-repeat;
}
body .decorativ-list .conteinr main .shoping-conteiner .shoping-cards .cards-style .card .grup-card {
  width: 200px;
  padding: 10px;
}
body .decorativ-list .conteinr main .shoping-conteiner .shoping-cards .cards-style .card .grup-card .product-img {
  width: 180px;
  height: 220px;
}
body .decorativ-list .conteinr main .shoping-conteiner .shoping-cards .cards-style .card .grup-card .product-img img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding: 5px;
}
body .decorativ-list .conteinr main .shoping-conteiner .shoping-cards .cards-style .card .grup-card .product-info {
  height: 130px;
  background: none;
  text-align: start;
}
body .decorativ-list .conteinr main .shoping-conteiner .shoping-cards .cards-style .card .grup-card .product-info .product-desck {
  font-size: 16px;
}
body .decorativ-list .conteinr main .shoping-conteiner .shoping-cards .cards-style .card .grup-card .product-info .product-desck .product {
  font-size: 20px;
}
body .decorativ-list .conteinr main .shoping-conteiner .shoping-cards .cards-style .card .grup-card .product-info .unreal-price {
  font-size: 24px;
  color: gray;
  text-decoration: line-through;
}
body .decorativ-list .conteinr main .shoping-conteiner .shoping-cards .cards-style .card .grup-card .product-info .real-price {
  font-size: 34px;
  color: red;
}
body .decorativ-list .conteinr footer {
  width: 100vw;
}
@media (min-width: 1420px) {
  body .decorativ-list .conteinr footer {
    width: 1420px;
  }
}
body .decorativ-list .conteinr footer .info-block {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid red;
  border-radius: 10px 10px 0 0;
  background-color: rgb(231, 123, 21);
}
body .decorativ-list .conteinr footer .info-block p {
  font-family: "KeaniaOne";
  font-size: 32px;
}
body .decorativ-list .conteinr footer .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: rgb(23, 70, 255);
  border-radius: 0 0 10px 10px;
}
body .decorativ-list .conteinr footer .links a img {
  height: 45px;
}
body .pop-up {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(129, 124, 124, 0.534);
  z-index: 2;
}